In [1]:
import pymysql

connection = pymysql.connect(
    host='localhost',
    user='root',
    password='tmvlzj12', 
    db = 'albums'
)

try:
    with connection.cursor() as cursor:
        query = "SELECT album_name, album_year FROM albums"
        cursor.execute(query)

        for row in cursor.fetchall():
            print(row)
finally:
    connection.close()

('The White Stripes', 1999)
('DE Still', 2000)
('White Blood Cells', 2001)
('Elephant', 2003)
('Get Behind Me Satan', 2005)
('Icky Thump', 2007)
('Under Great White Northem Lights', 2010)
('Live in Mississippi', 2011)
('Live at the Gold Dollar', 2012)
('Nine Miles from the White City', 2013)

In [4]:
import pymysql

connection = pymysql.connect(
    host='localhost',
    user='root',
    password='tmvlzj12', 
    db = 'albums'
)

try:
    with connection.cursor() as cursor:
        query = """
        INSERT INTO albums (album_name, album_year, top_rank)
        VALUES ('New Album', '2024', '1')
        """
        cursor.execute(query)
        connection.commit()
finally:
    connection.close()

In [7]:
import pymysql

connection = pymysql.connect(
    host='localhost',
    user='root',
    password='tmvlzj12', 
    db = 'albums'
)

try:
    with connection.cursor() as cursor:
        query = "UPDATE albums SET top_rank = '2' WHERE album_name = 'New Album';"
        cursor.execute(query)
        connection.commit()
finally:
    connection.close()

In [8]:
import pymysql

connection = pymysql.connect(
    host='localhost',
    user='root',
    password='tmvlzj12', 
    db = 'albums'
)

try:
    with connection.cursor() as cursor:
        query = "DELETE FROM albums WHERE album_name = 'New Album';"
        cursor.execute(query)
        connection.commit()
finally:
    connection.close()